.moz-brand {
  margin: 0 15px;
}

.navbar {
  background-color: #ffdddd;
}

.navbar-nav a {
  color: #333333;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-nav a:hover {
  color: rgb(171, 0, 0);
}

.stagnant-water img {
  width: 100vw;
}

.mozzie-wipeout img {
  width: 80vw;
  display: block;
  margin: 0 auto;
}

.dengue-description {
  border: 2px dotted rgb(255, 25, 0);
  margin: 20px auto;
}

.dengue-cases {
  border: 2px dotted rgb(255, 25, 0);
  margin: 20px auto;
}

h4 {
  text-decoration: underline;
}

.mosq-icon {
  border: 1px solid red;
  /* display: inline; */
  width: 130px;
  height: 110px;
  float: left;
  margin: 19px 20px;
}

.number-cases {
  display: block;
  float: right;
}

.reported-cases {
  font-size: 2.5rem;
  font-weight: bold;
}

.zonebtns .north-east {
  margin: 5px 0;
}

.zonebtns .central {
  margin: 5px 0;
}

.zonebtns .south-east {
  margin: 5px 0;
}

.zonebtns .south-west {
  margin: 5px 0;
}

.zonebtns .reset-btn {
  margin: 5px 0;
}

#map {
  width: 80vw;
  height: 50vh;
  margin: 30px auto;
}

.northeastcard {
  border: 2px solid red;
  margin: 0 auto;
}
/* 
table {
  font-size: 12px;
}

#listing {
  position: absolute;
  width: 200px;
  height: 470px;
  overflow: auto;
  left: 442px;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
}

#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
} */
/* 
#right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
#right-panel {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  top: 60%;
  margin-top: -195px;
  height: 330px;
  width: 200px;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
}
h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 271px;
  width: 200px;
  overflow-y: scroll;
}
li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
li:nth-child(odd) {
  background-color: #fcfcfc;
}
#more {
  width: 100%;
  margin: 5px 0 0 0;
} */
