.moz-brand {
  margin: 0 15px;
  width: 40px;
  height: 40px;
}

.navbar-nav a {
  color: #333333;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin-left: 25px;
}
/* 
.navbar-nav a:first-child {
  margin-top: 15px;
}
.navbar-nav a:last-child {
  margin-bottom: 15px;
} */

.navbar-nav a:hover {
  color: rgb(171, 0, 0);
}

/* .navbar-toggler {
  border: 1px solid black;
} */
/*  */
.menu {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  right: 25px;
}
.menu span {
  margin: 0 auto;
  position: relative;
  top: 8px;
  right: 13px;
}
.menu span:before,
.menu span:after {
  position: absolute;
  content: "";
}
.menu span,
.menu span:before,
.menu span:after {
  width: 30px;
  height: 3px;
  background-color: #000;
  display: block;
}
.menu span:before {
  margin-top: -12px;
}
.menu span:after {
  margin-top: 12px;
}
.example1 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.example1:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*  */

.mozzie-wipeout img {
  width: 80vw;
  display: block;
  margin: 70px auto;
  border: 2px solid black;
}

.dengue-description {
  border: 2px dotted rgb(255, 25, 0);
  /* width: 100%; */
  height: 300px;
  margin: 10px auto;
}

.dengue-cases {
  border: 2px dotted rgb(255, 25, 0);
  height: 300px;
  margin: 10px auto;
}

h4 {
  text-decoration: underline;
}

.mosq-icon {
  border: 1px solid red;
  /* display: inline; */
  width: 130px;
  height: 110px;
  /* margin: 40px 20px; */
}

.number-cases {
  /* position: relative; */
  /* display: inline; */
  /* float: right; */
}

.reported-cases {
  font-size: 2.5rem;
  font-weight: bold;
}

.select-zone h3 {
  margin-top: 25px;
  /* margin-bottom: 20px; */
}

.zonebtns .north-east {
  margin: 5px 0;
}

.zonebtns .central {
  margin: 5px 0;
}

.zonebtns .south-east {
  margin: 5px 0;
}

.zonebtns .south-west {
  margin: 5px 0;
}

.zonebtns .reset-btn {
  margin: 5px 0;
}

#map {
  width: 80vw;
  height: 50vh;
  margin: 30px auto;
}

.northeastcard {
  border: 2px solid red;
  margin: 0 auto;
}
/* 
table {
  font-size: 12px;
}

#listing {
  position: absolute;
  width: 200px;
  height: 470px;
  overflow: auto;
  left: 442px;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
}

#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
} */
/* 
#right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
#right-panel {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  top: 60%;
  margin-top: -195px;
  height: 330px;
  width: 200px;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
}
h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 271px;
  width: 200px;
  overflow-y: scroll;
}
li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
li:nth-child(odd) {
  background-color: #fcfcfc;
}
#more {
  width: 100%;
  margin: 5px 0 0 0;
} */
